.flow-image{
  width: 100%;
  position: relative;
  image{
    width: 100%;
  }
  .fav-icon{
    position: absolute;
    bottom: 18rpx;
    right: 18rpx;
    font-size: 32rpx;
    text-shadow: #444 2rpx 1rpx 2rpx;
    &.iconheart    {color: #fff};
    &.iconheart-fill{
      color: #FF455B;
      // background-color: red;
    }
  }
}