.badge{
  &.with-count{
    position: relative;
    &::after{
      content: attr(hover-class);
      position: absolute;
      font-size: 20rpx;
      width: 34rpx;
      height: 34rpx;
      background-color: red;
      text-align: center;
      line-height: 34rpx;
      border-radius: 34rpx;
      top: 0;
      right: 0;
    }
  }
}