$search_size:88rpx;
$p_left: $search_size + 40rpx;
.search-mode{
  position: absolute;
  top: 40rpx;
  left: calc(100% - #{$p_left});
  .seacrh-content{
    width: $search_size;
    height: $search_size;
    display: flex;
    border-radius: $search_size;
    background-color: rgba($color: #000000, $alpha: 0.4);
    transition: all 0.3s;
    box-shadow:3rpx 3rpx 6rpx var(--dark-bg-dark-shadow);
    justify-content: flex-end;
  }
  .iconsearch{
    width: $search_size;
    height: $search_size;
    font-size: 48rpx;
    padding: 20rpx;
    border-radius: 100%;
    font-weight: 400;
    color: #fff;
  }
  .full-cover{
    width: 100%;
    height: 100%;
    background: rgba($color: #fff, $alpha: 0.4);
    position: absolute;
    top:0;
    left: 0;
    transform: scale(0);
    transition: all 0.3s;
    filter: blur(10rpx);
  }
  .search-input{
    flex: 1;
    height: $search_size;
    padding-left: $search_size/2;
    color: #fff;
    font-size: 32rpx;
  }
  .full-show{
    display: none;
  }
  &.open{
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    .shown-subjects{
      display: flex;
    }
    .search-input{
      
    }
    .full-show{
      display: block;
    }
    .full-cover{
      transform: scale(1);
    }
    .seacrh-content{
      position: absolute;  
      top: 40rpx;
      right: 40rpx;
      width: calc(100% - 80rpx);
    }
  }
  .shown-subjects{
    position: absolute;
    flex-direction: row;
    left: 40rpx;
    top: 160rpx;
    width: calc(100% -  80rpx);
    justify-content: flex-end;
    display: none;
    .shown-subjects-left{
      box-shadow:3rpx 3rpx 6rpx var(--dark-bg-dark-shadow);
      border-radius: 15rpx;
      background-color: rgba($color: #000000, $alpha: 0.4);
      padding: 28px;
      flex: 1;
      margin-right: 10rpx;
      .tag{
        margin-right: 10rpx;
        margin-bottom: 10rpx;
      }
    }

    .shown-subjects-right{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .tag{
        animation: 0.5s normal both 1 running fadeInLeft;
        width: max-content;
        margin-bottom: 10rpx;
      }
    }
  }
  .selected-subjects{

  }
}