$space:8%;
$size: 86%;

.subject-container{
  height:100%;
  width: 100%;
  overflow:auto;
  .title1{
    margin-top: 100rpx;
    text-align: center;
    font-weight: bold;
    font-size: 24rpx;
  }
  .title2{
    margin-top: 20rpx;
    text-align: center;
    font-weight: bold;
    font-size: 18rpx;
  }
  .subjects{
    width: 88vw;
    margin: 20rpx auto;
    .subject{
      width: 22vw;
      height: 22vw;
      float: left;
      position: relative;
      .subject-main{
          position: absolute;
          left: $space;
          top: $space;
          height: $size;
          width: $size;
          border-radius: 10rpx;
          box-shadow: var(--box-shadow-3);
          overflow:hidden;
        
          &.selected{
            border: 1rpx solid var(--text-color);
            box-sizing: var(--box-shadow-inset);
            image{
              width: 90%;
              height: 90%;
              margin-left:5% ;
              margin-top: 5% ;
            }
          }
          .subject-name{
            position: absolute;
            color: #fff;
            background-color: rgba($color: #fff, $alpha: 0);
            bottom: 15rpx;
            left: 15rpx;
            font-size: 16rpx;
          }
          image{
            width: 100%;
            height: 100%;
            border-radius: 10rpx;
        }
      }
      
    }
  }
}