$space:8%;
$size: 86%;

.subject-container{
  height:100%;
  width: 100%;
  overflow:auto;
  .title1{
    margin-top: 100rpx;
    text-align: center;
    font-weight: bold;
    font-size: 24rpx;
    color: var(--text-color);
  }
  .title2{
    margin-top: 20rpx;
    text-align: center;
    font-weight: bold;
    font-size: 18rpx;
    color: var(--text-color);
  }
  .subject-submit{
    width: calc(88vw + 40rpx);
    margin: 60rpx auto 0;
    box-shadow: var(--box-shadow-4);

      font-weight: bold;
      font-size: 24rpx;

  }
  .subjects{
    width: calc(88vw + 40rpx);
    margin: 40rpx auto 0;
    padding: 20rpx;
    box-shadow: var(--box-shadow-3);
    height: calc(100vh - 450rpx);
    border-radius: 15rpx;
    overflow: auto;
    .subject{
      width: 22vw;
      height: 22vw;
      float: left;
      position: relative;
      .subject-main{
          position: absolute;
          left: $space;
          top: $space;
          height: $size;
          width: $size;
          border-radius: 10rpx;
          box-shadow: var(--box-shadow-3);
          overflow:hidden;
        
          &.selected{
            border: 1rpx solid var(--primary);
            box-sizing: var(--box-shadow-inset);
            image{
              width: 90%;
              height: 90%;
              margin-left:5% ;
              margin-top: 5% ;
            }
          }
          .subject-name{
            position: absolute;
            color: #fff;
            background-color: rgba($color: #fff, $alpha: 0);
            bottom: 15rpx;
            left: 15rpx;
            font-size: 16rpx;
          }
          image{
            width: 100%;
            height: 100%;
            border-radius: 10rpx;
            transition: all .3s;
        }
      }
      
    }
  }
}