.theme{
  position: relative;
  &.theme--dark{
    
  }
  &.theme--light{

  }
  .iconjinggao{
    color: var(--text-color);
    font-size: 40rpx;
    position: absolute;
    top: 20rpx;
    right: 20rpx;
    z-index: 888;
  }
}