@import './variable.scss';
view,text {
  box-sizing: border-box;
}
page button{
  &[type=primary]{
    background-color: $color-brand;
  }
  background-color: $color-brand;
  border: none;
}
.hide {
  display: none!important;
}
.center-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.height0{
  height: 0!important;
  padding: 0!important;
}