//https://colorhunt.co/palette/191947
$color-brand: #e7334c;
$active-color:#e7334c;
$main-bg-color:#0c1929;
$secondary-bg-color:#111c2e;
$tertiary-bg-color:#17263d;
$main-color:#4a60b6;
$speed-level-low:#3f57b1;
$speed-leven-high:#ea4861;
$common-box-shadow:0 1px 3px rgba(255,189,105,.1);